-# coding: utf-8
!!! 5
%html{:lang => "de"}
  %head
    %title Benutzeranmeldung
  %body
    %a{href: '/'} Startseite
    |
    %a{href: '/protected'} Mitgliederbereich
    |
    - if current_user.registered?
      = current_user
      %a{href: '/auth/logout'} abmelden
    - else
      %a{href: '/auth/cas'} anmelden
    %hr
    = yield
